h1 {
    margin: 0 0 30px;
}

div.cards {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 80px;
    padding-top: 10px;
}

img.cards {
    width: 200px;
    transition-duration: .5s;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.one {
    height: 308px;
    transform: rotate(-8deg) translate(25px, 15px);
}

.one:hover {
    transform: rotate(-8deg) translate(25px, 15px) scale(1.2);
}

.two {
    height: 355px;
    transform: rotate(8deg) translate(-15px, -10px);
}

.two:hover{
    transform: rotate(8deg) translate(-15px, -10px) scale(1.2);
}

.three {
    height: 355px;
    transform: rotate(24deg) translate(-50px, 75px);
}

.three:hover{
    transform: rotate(24deg) translate(-50px, 75px) scale(1.2);
}

.paragraph {
    max-width: 710px;
    margin-left: 50px;
}

.box {
    max-width: 100%;
    padding-top: 50px;
}

.box > .description {
    margin-top: 100px;
}

.presentation {
    margin: 200px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin: 0 20px 50px;
    font-family: 'Amarante';
    font-size: 22px;
    text-align: center;
}

.paragraph > p {
    font-size: 20px;
    text-align: justify;
}

.content {
    background-size: cover;
}

.p1 {
    background: linear-gradient(transparent 50%, #000) bottom no-repeat,
    url('/img/background.png') center no-repeat;
}

.p2 {
    height: 1080px;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    linear-gradient(transparent 50%, #000) bottom no-repeat,
    linear-gradient(#000 15%, rgba(0,0,0,.8) 30%, transparent 50%) bottom no-repeat,
    url('/img/mimicbg.jpg') center no-repeat;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

.box > .container {
    margin-bottom: 150px;
}

.container > img {
    height: 150px;
    margin: 25px;
}

.discord {
    background-color: #7289da;
}

.steam {
    background-color: #fc256d;
}

.icon {
    width: 25px;
    margin-right: 14px;
}

@media screen and (max-width: 1500px) {
    .presentation {
        flex-direction: column-reverse;
        margin-top: 150px;
    }
    .paragraph {
        margin: 0 50px 110px;
    }
}

@media screen and (max-width: 380px) {
    .box {
        padding-top: 100px;
    }
    .presentation {
        margin-top: 80px;
    }
    .paragraph {
        margin: 0 20px 50px;
    }
}

@media screen and (max-width: 970px) {
    .container > img {
        height: unset;
    }
    .sblogo {
        width: 20vw;
    }
    .tdlogo {
        width: 35vw;
    }
    .fvlogo {
        width: 50vw;
    }
}

@media screen and (max-width: 520px) {
    .sblogo {
        width: 30vw;
    }
    .tdlogo {
        width: 45vw;
    }
    .fvlogo {
        width: 65vw;
    }
}

@media screen and (max-width: 610px) {
    div.cards {
        width: 100vw;
        display: block;
        text-align: center;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    div.cards::-webkit-scrollbar {
        display: none;
    }
    img.cards {
        display: inline;
        transform: none;
        padding: 0 15px;
    }

    .a1 {
        transform: translateY(-10px);
    }
    img.cards:hover {
        transform: scale(1.05);
    }
    .p2 {
        background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
        linear-gradient(transparent 90%, #000) bottom no-repeat,
        linear-gradient(#000 15%,rgba(0,0,0,.6) 30%,transparent 50%) bottom no-repeat,
        url('/img/mimicbg.jpg') center no-repeat;
    }
    .paragraph {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 815px) {
    .container {
        flex-direction: column;
    }
    .paragraph > p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1790px) {
    .content {
        background-position: bottom;
    }
    .presentation {
        margin-top: 250px;
    }
}

@media screen and (min-width: 2000px) {
    .box {
        padding-top: 250px;
    }
}
