h2 {
    font-size: 32px;
    margin: 0 0 20px;
}

h3 {
    font-size: 28px;
    margin: 0 0 15px;
}

ul {
    list-style-type: square;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    linear-gradient(transparent 50%, #000) bottom no-repeat,
    linear-gradient(#000 15%, rgba(0,0,0,.8) 30%, transparent 50%) bottom no-repeat,
    url('/img/mimicbg.jpg') center no-repeat;
}

.content {
    justify-content: center;
}

.container, .text_container {
    max-width: 1200px;
}

.text_container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 50px;
}

.container {
    margin: 0 50px;
}

.container > div {
    margin: 50px 0;
}

.container > h2 {
    margin-top: 100px;
}

.textbox {
    margin: 50px 0;
    margin-bottom: 50px;
}

.text_container > div {
    margin: 0 20px;
}

.text_container > div.box {
    margin: 0 20px 50px;
    width: 260px;
}

.video_container {
    margin-top: 60px;
}

a.presskit {
    background-color: #fc256d;
}

p.presskit {
    margin-top: 100px;
}

@media screen and (max-width: 610px) {
    .header {
        background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
        linear-gradient(transparent 90%, #000) bottom no-repeat,
        linear-gradient(#000 15%,rgba(0,0,0,.6) 30%,transparent 50%) bottom no-repeat,
        url('/img/mimicbg.jpg') center no-repeat;
    }
}

@media screen and (max-width: 380px) {
    .container {
        margin: 0 20px;
    }
    .box > h3 {
        font-size: 24px;
    }
    .text_container > div.box {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 484px) {
    .text_container {
        display: block;
    }
}
